<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/Head.ejs') %>
</head>
<body>
  <%- include('../partials/Navbar.ejs') %>

  <div class="container">
    <div class="jumbotron mt-4">
      <h1 class="display-4">Bienvenido, Admin!</h1>
      <hr class="my-4">
      <p>Utiliza el panel de control para gestionar los usuarios, las recetas y los menús.</p>
      <a class="btn btn-primary btn-lg" href="/admin/dashboard" role="button">Ir al Panel de Control</a>
    </div>
  </div>

  <%- include('../partials/Footer.ejs') %>
</body>
</html>
