<link rel="stylesheet" type="text/css" href="/css/adminDashboard.css">

<div class="container mt-4">
    <h1>Panel de Control del Administrador</h1>

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Usuarios</h5>
            <p class="card-text">Gestionar usuarios registrados en la plataforma.</p>
            <a href="/admin/users" class="btn btn-primary">Gestionar Usuarios</a>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Recetas</h5>
            <p class="card-text">Gestionar las recetas disponibles en la plataforma.</p>
            <a href="/admin/manageRecipes" class="btn btn-primary">Gestionar Recetas</a>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Menús</h5>
            <p class="card-text">Gestionar los menús disponibles en la plataforma.</p>
            <a href="/admin/manageMenus" class="btn btn-primary">Gestionar Menús</a>
        </div>
    </div>
</div>
