<% if (messages.error) { %>
    <% messages.error.forEach((message) => { %>
      <div class="alert alert-danger" role="alert">
          <%= message %>
      </div>
    <% }) %>
  <% } %>
  
  <% if (messages.success) { %>
    <% messages.success.forEach((message) => { %>
      <div class="alert alert-success" role="alert">
          <%= message %>
      </div>
    <% }) %>
  <% } %>
  
  <% if (messages.info) { %>
    <% messages.info.forEach((message) => { %>
      <div class="alert alert-info" role="alert">
          <%= message %>
      </div>
    <% }) %>
  <% } %>
  
  <% if (messages.warning) { %>
    <% messages.warning.forEach((message) => { %>
      <div class="alert alert-warning" role="alert">
          <%= message %>
      </div>
    <% }) %>
  <% } %>
  