<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Recetas - Descubre y Comparte Nuevas Recetas y Menús</title>
    <meta name="description" content="Recetas es una plataforma para compartir y descubrir nuevas recetas y menús. Te ayudamos a organizar tus comidas y a descubrir nuevas ideas para cocinar.">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <% if (typeof viewCSS !== 'undefined') { %>
        <link rel="stylesheet" href="/css/<%= viewCSS %>.css">
    <% } %>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
