<!-- MenuForm.ejs -->

<link rel="stylesheet" href="/css/menuForm.css">

<form action="/menus" method="POST">
    <div class="form-group">
        <label for="menuName">Nombre del Menú</label>
        <input type="text" class="form-control" id="menuName" name="name" placeholder="Introduce el nombre del menú" required>
    </div>

    <div class="form-group">
        <label for="menuDays">Duración del Menú (días)</label>
        <input type="number" class="form-control" id="menuDays" name="days" placeholder="Introduce el número de días" required>
    </div>

    <div class="form-group">
        <label for="menuGoal">Objetivo del Menú</label>
        <input type="text" class="form-control" id="menuGoal" name="goal" placeholder="Introduce el objetivo del menú" required>
    </div>

    

    <div class="form-group">
        <label for="menuRecipes">Recetas</label>
        <div id="menuRecipes">
            <div class="recipe-input-group">
                <input type="text" class="form-control" name="menuRecipes[]" placeholder="Título de la receta" required>
                <button type="button" class="remove-recipe">Eliminar receta</button>
            </div>
        </div>
        <button type="button" id="addRecipe">Añadir receta</button>
    </div>

    <button type="submit" class="btn btn-primary">Guardar Menú</button>
</form>

<script src="/js/menuForm.js"></script>
