<!-- MenuForm.ejs -->

<link rel="stylesheet" href="/css/menuForm.css">

<form action="/menus" method="POST">
    <div class="form-group">
        <label for="menuName">Nombre del Menú</label>
        <input type="text" class="form-control" id="menuName" name="name" placeholder="Introduce el nombre del menú" required>
    </div>

    <div class="form-group">
        <label for="menuDays">Duración del Menú (días)</label>
        <input type="number" class="form-control" id="menuDays" name="days" placeholder="Introduce el número de días" required>
    </div>

    <div class="form-group">
        <label for="menuGoal">Objetivo del Menú</label>
        <input type="text" class="form-control" id="menuGoal" name="goal" placeholder="Introduce el objetivo del menú" required>
    </div>

    

    <div class="form-group">
        <label for="recipeInput">Receta</label>
        <input type="text" id="recipeInput" oninput="fetchRecipes()" placeholder="Ingresa el nombre de la receta">
        <div id="recipeList"></div>
    </div>
    
    <!-- Añadido una lista desordenada para mostrar las recetas seleccionadas -->
    <div class="form-group">
        <label for="selectedRecipes">Recetas Seleccionadas</label>
        <ul id="selectedRecipes"></ul>
    </div>
    

    <button type="submit" class="btn btn-primary">Guardar Menú</button>
</form>

<script src="/js/menuForm.js"></script>
