<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/recipeForm.css"> 
</head>
<body>

<form action="/recipes" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Nombre de la Receta</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Introduce el nombre de la receta" required>
    </div>

    <div class="form-group">
        <label for="description">Descripción</label>
        <textarea class="form-control" id="description" name="description" rows="3" placeholder="Describe la receta"></textarea>
    </div>

    <div class="form-group">
        <label for="ingredientInput">Ingrediente</label>
        <input type="text" id="ingredientInput" oninput="fetchIngredients()" placeholder="Ingresa el nombre del ingrediente">
        <div id="ingredientList"></div>
    </div>
    
    <!-- Añadido una lista desordenada para mostrar los ingredientes seleccionados -->
    <div class="form-group">
        <label for="selectedIngredients">Ingredientes Seleccionados</label>
        <ul id="selectedIngredients"></ul>
    </div>
    
    

    

    <div class="form-group">
        <label for="instructions">Instrucciones</label>
        <textarea class="form-control" id="instructions" name="instructions" rows="5" placeholder="Introduce las instrucciones de la receta" required></textarea>
    </div>

    <div class="form-group">
        <label for="image">Imagen de la Receta</label>
        <input type="file" class="form-control-file" id="image" name="image">
    </div>

    <div class="form-group">
        <label for="typeOfFood">Categoría</label>
        <select class="form-control" id="typeOfFood" name="typeOfFood" required>
            <option selected>Elige una categoría...</option>
            <option value="Desayuno">Desayuno</option>
            <option value="Almuerzo">Almuerzo</option>
            <option value="Cena">Cena</option>
            <!-- Más opciones según las categorías de tu aplicación -->
        </select>
    </div>

    <div class="form-group">
        <label for="difficulty">Dificultad</label>
        <input type="text" class="form-control" id="difficulty" name="difficulty" placeholder="Dificultad de la receta" required>
    </div>

    <div class="form-group">
        <label for="preparationTime">Tiempo de Preparación (minutos)</label>
        <input type="number" class="form-control" id="preparationTime" name="preparationTime" placeholder="Tiempo de preparación en minutos" required>
    </div>

    <button type="submit" class="btn btn-primary">Guardar Receta</button>
</form>

<script src="/js/recipeForm.js"></script>
</body>
</html>
