<form action="/search" method="get" class="search-form">
  <select name="type" class="search-select">
    <option value="recipes">Recetas</option>
    <option value="menus">Menús</option>
    <option value="ingredients">Ingredientes</option>
  </select>
  <input type="text" name="q" class="search-input" placeholder="Buscar...">
  <button type="submit" class="search-button">Buscar</button>
</form>
