<form action="/search" method="GET" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" name="q" placeholder="Buscar recetas" aria-label="Buscar">
    <select class="form-control mr-sm-2" name="category">
        <option value="">Todas las categorías</option>
        <option value="Desayuno">Desayuno</option>
        <option value="Almuerzo">Almuerzo</option>
        <option value="Cena">Cena</option>
        <!-- Más opciones según las categorías de tu aplicación -->
    </select>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
</form>
