<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head.ejs') %>
  <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<body>
  <%- include('partials/navbar.ejs') %>

  <div class="container">
    <div class="jumbotron mt-4">
      <h1 class="display-4">Bienvenido, Admin!</h1>
      <hr class="my-4">
      <p>Utiliza el panel de control para gestionar los usuarios, las recetas y los menús.</p>
    </div>
  </div>

  <%- include('partials/AdminDashboard.ejs') %>

  <%- include('partials/footer.ejs') %>
</body>
</html>

