<!DOCTYPE html>
<html>
<head>
  <%- include('partials/Head.ejs') %>
</head>
<body>
  <%- include('partials/Navbar.ejs') %>

  <div class="container">
    <% if (recipes.length > 0) { %>
      <% recipes.forEach(recipe => { %>
        <%- include('partials/recipeCard.ejs', { recipe: recipe }) %>
      <% }) %>
    <% } else { %>
      <div class="alert alert-info" role="alert">
        No hay recetas disponibles en la base de datos.
      </div>
    <% } %>

    <div class="d-flex justify-content-end">
      <a href="/recipes/Crear" class="btn btn-success mt-3">Crear Receta</a>
    </div>

    <%- include('partials/Footer.ejs') %>
  </div>
</body>
</html>