/* Base */
body, html {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  max-width: 1100px;
  margin: auto;  /* Centra el contenido horizontalmente */
  padding: 20px;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Centra el contenido verticalmente dentro del container */
}

/* Jumbotron */
.jumbotron {
  background-color: #f4f4f4; /* Quitar el fondo azul */
  color: #333;
  border-radius: 8px;
  padding: 20px;
  text-align: center;  /* Alinear el texto al centro */
}

.jumbotron h1 {
  font-size: 2.5em;
  margin-bottom: 15px;
}

.jumbotron p {
  font-size: 1.2em;
}
