body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.form-group .ingredient-group {
    display: flex;
    justify-content: space-between;
}

.form-group .ingredient-group > * {
    flex: 1;
}

.form-group .ingredient-group > *:not(:last-child) {
    margin-right: 10px;
}

.form-group input[type="file"] {
    border: none;
}

#addIngredient {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#addIngredient:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
}

.btn-primary {
    background-color: #007BFF;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}
