/* Estilos Generales */

body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 1em;
  }
  
  h1, h2 {
    color: #333;
  }
  
  /* Estilos para las tarjetas de recetas y menús */
  
  .card {
    margin: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
  }
  
  .card-body {
    padding: 1em;
  }
  
  .card-title {
    font-size: 1.5em;
    color: #007BFF;
  }
  
  .card-text {
    color: #666;
  }
  
  .list-group-item {
    border: none;
    padding: 0.5em 1em;
    color: #333;
  }
  
  .card-link {
    color: #007BFF;
    text-decoration: none;
  }
  
  .card-link:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  /* Estilos para las listas de recetas y menús */
  
  .recipe-list, .menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
