/* Estilos para home.css */

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
}

/* Estilos para la imagen y el texto superpuesto */
.container-relative {
  position: relative;
  margin-bottom: 40px;
}

.container-relative img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  filter: brightness(0.6); /* Hace la imagen un 40% más oscura */
}

.container-relative h2 {
  font-size: 2em; /* Cambia según tu preferencia */
  color: white;
  margin-bottom: 15px;
}

.container-relative p {
  font-size: 1.5em; /* Cambia según tu preferencia */
  color: white;
  margin-bottom: 15px;
}

.container-relative div p {
  color: white;
  margin-bottom: 15px;
}

.container-relative .btn {
  margin: 5px 10px 5px 0;
  background-color: white;
  border-color: white;
  color: #1eb9c6;
  padding: 15px 30px;  /* Aumenta el padding para un botón más grande */
  font-size: 1.2em;   /* Aumenta el tamaño de fuente */
  border-radius: 7px; /* Ajusta el border-radius */
  text-decoration: none;
  transform: scale(1); /* Define un estado inicial para la transformación */
  transition: background-color 0.3s, transform 0.3s; /* Agregamos animación de transform */
}


.container-relative .btn:hover {
  background-color: #b3bcbc;
  border-color: #b3bcbc;
  color: #1eb9c6;
  transform: scale(1.05) ; /* Usa !important temporalmente para asegurarte de que se aplique el estilo */
}


/* Estilos para la sección de CÓMO Funciona */
.text-center h3 {
  color: #1eb9c6;
  font-weight: bold;
  margin-bottom: 10px;
}

.text-center h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

.text-center p {
  font-size: 14px;
}

.container .row {
  display: flex; 
  flex-wrap: nowrap; 
  overflow-x: auto; 
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.col-md-3 {
  flex: 0 0 24%; 
  max-width: 24%;
  padding: 10px;
  box-sizing: border-box; 
}

/* Estilos para Recetas y Menús Favoritos */
h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center; /* Centramos el título */
  color: #1eb9c6; /* Cambiamos el color a #1eb9c6 */
}

.recipe-list,
.menu-list {
  margin-bottom: 30px;
}

.swiper-container {
  padding-bottom: 30px; 
}

.swiper-pagination-bullet {
  background-color: #1eb9c6;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

@media (max-width: 768px) {
  .container-relative h2, 
  .container-relative p {
    font-size: 1em; 
    position: relative; /* Cambia la posición a relativa para que no se superpongan con otros elementos. */
    top: auto; /* Elimina la propiedad top para que sigan el flujo normal del documento. */
    left: auto; /* Elimina la propiedad left para que sigan el flujo normal del documento. */
    width: 100%; /* Permite que los textos tomen el ancho completo del contenedor. */
    margin-bottom: 10px; /* Agrega un margen en la parte inferior para dar espacio al botón. */
  }

  .container .row {
    flex-wrap: wrap; 
  }

  .col-md-3 {
    flex: 0 0 50%; /* Ahora permite que dos elementos ocupen una fila */
    max-width: 50%; /* Ajusta el max-width para coincidir con el valor de flex */
  }

  .container-relative .btn {
    font-size: 0.9em; 
    padding: 10px 20px; 
    position: relative; /* Cambia la posición a relativa para que no se superpongan con otros elementos. */
    bottom: auto; /* Elimina la propiedad bottom para que sigan el flujo normal del documento. */
    left: auto; /* Elimina la propiedad left para que sigan el flujo normal del documento. */
    display: inline-block; /* Cambia el display a inline-block para que tome el ancho según su contenido. */
    margin: 0 0 20px; /* Ajusta los márgenes para dar espacio alrededor del botón. */
    width: auto; /* Ajusta el ancho a auto para que tome el ancho según su contenido. */
  }
}