
.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

/* Estilo para los botones de añadir y eliminar recetas */
#addRecipe, .remove-recipe {
    margin-top: 10px;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.remove-recipe {
    background-color: #d9534f;
    border-color: #d43f3a;
}

/* Estilo para el grupo de entrada de recetas */
.recipe-input-group {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* Estilo para las entradas de recetas individuales */
.recipe-input-group input {
    flex-grow: 1;
    margin-right: 10px;
}
