/* menu.css */

/* Contenedor principal del menú */

.menu-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 0;
}

/* Contenedor de la información del menú */

.menu-info {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.menu-info h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.menu-info .meals,
.menu-info .instructions {
    margin-top: 20px;
}

/* Botón de guardar menú */

.menu-save-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.menu-save-button:hover {
    background-color: #2980b9;
}
