.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #1eb9c6;
    display: flex;
    justify-content: space-between; /* Distribuir el espacio entre los elementos */
    align-items: center; /* Centrar verticalmente */
    padding-right: 250px; /* Espacio adicional a la derecha para separar los elementos del borde */
}

.navbar-collapse {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;     /* Centrar verticalmente */
    flex-grow: 1;            /* Permitir que el elemento crezca y ocupe el espacio disponible */
}

.navbar-brand img.logo-image {
    height: 20px;
    vertical-align: bottom;
    margin-right: 0px; /* Aumentar el espacio a la derecha de la imagen */
    margin-left: 50px; /* Aumentar el espacio a la izquierda de la imagen */

}

.icon-link {
    margin-left: 150px; /* Ajusta este valor según el espacio que desees entre el último elemento y el icono */
}

.cart-icon {
    height: 35px; /* Ajustar según el tamaño deseado del icono */
    vertical-align: middle;
}


.navbar-toggler {
    border-color: #ddd;
    display: none; /* Ocultar por defecto */
}

@media screen and (max-width: 768px) {
    /* Mostrar el toggler solo en pantallas pequeñas */
    .navbar-toggler {
        display: block;
    }
}

.navbar-toggler-icon {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2222%22%20height=%2222%22%20viewBox=%220%200%2030%2030%22%3E%3Cpath%20stroke=%22%23333%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20stroke-miterlimit=%2210%22%20d=%22M4%207h22M4%2015h22M4%2023h22%22/%3E%3C/svg%3E);
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    list-style: none;
}

.nav-item {
    margin: 0 1em;
}

.nav-item a {
    color: #1eb9c6; 
    text-decoration: none;
    font-weight: 600;
    font-size: 1.05em;
    transition: font-size 0.3s, color 0.3s;
}

.nav-item a:hover {
    font-size: 1.15em;
    color: #157a8d;
}

.nav-item.active a {
    color: #1eb9c6; 
}
