.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #1eb9c6; /* Añadir un borde inferior para un toque visual */
}

.navbar-brand img.logo-image {
    height: 50px;
}

.navbar-toggler {
    border-color: #ddd;
}

.navbar-toggler-icon {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2222%22%20height=%2222%22%20viewBox=%220%200%2030%2030%22%3E%3Cpath%20stroke=%22%23333%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20stroke-miterlimit=%2210%22%20d=%22M4%207h22M4%2015h22M4%2023h22%22/%3E%3C/svg%3E);
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    list-style: none;
}

.nav-item {
    margin: 0 1em;
}

.nav-item a {
    color: #1eb9c6; /* Color personalizado para todos los enlaces */
    text-decoration: none;
    font-weight: 600;
    font-size: 1.05em;
    transition: font-size 0.3s, color 0.3s;
}

.nav-item a:hover {
    font-size: 1.15em;
    color: #157a8d; /* Cambio de color al pasar por encima */
}

.nav-item.active a {
    color: #1eb9c6; /* Puedes cambiar este color si quieres que el enlace activo tenga un color diferente */
}

