.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  h2 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .recipe-list,
  .menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .recipe-list .card,
  .menu-list .card {
    flex-basis: calc(33% - 20px); /* Asumiendo que deseas 3 tarjetas por fila */
    margin-bottom: 20px;
  }
  
  .recipe-list .card img,
  .menu-list .card img {
    width: 100%;
    height: 200px; /* Puedes cambiarlo a tu gusto */
    object-fit: cover;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  
  .pagination .page-item .page-link {
    color: #007bff;
  }
  
  .pagination .page-item.active .page-link {
    color: #fff;
    background-color: #007bff;
  }
  
  .pagination .page-item.disabled .page-link {
    color: #6c757d;
  }
  
